/*--------------------------------------------------------------
1.0 FONTS
--------------------------------------------------------------*/
$font__main: "Futura", sans-serif;
$font__heading: "Futura", sans-serif;
// @font-face {
//     font-family: SwissBoldCondensed;
//     src: url(./fonts/Swz721bc.ttf);
//   }
// @font-face {
//     font-family: SwissBold;
//     src: url(./fonts/Swz721k.ttf);
//   }
// @font-face {
//     font-family: SwissLight;
//     src: url(./fonts/Swz721t.ttf);
//   }

/*--------------------------------------------------------------
2.0 COLORS
--------------------------------------------------------------*/
$color__blue: #023970;
$color__orange: #f89728;
$color__light-orange: #f27707;
$color__white: #ffffff;

/*--------------------------------------------------------------
3.0 HEADINGS
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__heading;
}
h1 {
  color: $color__white;
}
p {
  color: $color__white;
}
p {
}

/*--------------------------------------------------------------
4.0 MISC
--------------------------------------------------------------*/
// By default, Bootstrap 4 uses 1rem(16px) as font size as well as the line-height remains 1.5. It keeps its default font-family as "Helvetica Neue" where Helvetica, sans-serif, Arial are used. Furthermore, all <p> (paragraph) elements have margin-top set to 0 and margin-bottom set to 1rem(16px).
// html {
// font-size: 62.5%;/* 1rem = 10px */
// }
